#con {
  float: right;
  border: 3px solid #d6c3db;
  box-shadow: 2px 2px 3px #d6c3db;
  border-radius: 12px;
  text-align: center;
}

.parent {
  display: flex;
  margin-left: 30%;
}
.theSkills {
  list-style: none;
  color: black;
  font-family: 'Arial Black', Gadget, sans-serif;
}
#info {
  width: 60%;
  background-color: #f5f5ef;
  border: solid 2px #ebebe0;
  border-radius: 12px;
  font-size: 1.5rem;
  padding: 5px 5px;
  margin-right: 15px;
  margin-left: 20px;
  box-shadow: 2px 2px 3px 3px #2e2e1f;
  opacity: 0.98;
  text-align: center;
}
#myName {
  text-align: center;
  size: 80px;
  font-family: New Century Schoolbook, TeX Gyre Schola, serif;
  font-weight: 900;
  font-size: 47px;
}
#myOcu {
  font-size: 32px;
  text-align: center;
  color: #434052;
}
.refText {
  font-family: 'Arial Black', Gadget, sans-serif;
  float: left;
  font-size: 16px;
}
.myInfo {
  text-align: right;
  font-family: Lucida Sans Unicode, Lucida Grande, serif;
}
#aboutMe {
  text-align: center;
  text-decoration: underline;
}
#sum {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: auto;
  width: 42%;
  margin-top: 1%;
  margin-left: 31%;
  background-color: #f5f5ef;
  border: solid 2px #ebebe0;
  font-size: 1.3rem;
  border-radius: 12px;
  padding: 5px 5px;
  box-shadow: 3px 3px 5px 6px #2e2e1f;
  opacity: 0.97;
}
#workRef2 {
  padding-left: 20px;
}
#theInts {
  flex-direction: column;
  display: flex;
}
#theInts > * {
  flex: 1;
}
#myWork {
  display: flex;
}
.myPic {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  text-align: center;
}
.hobbList {
  list-style: none;
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0 auto;
}
.eachHobb {
  margin-right: 60px;
  margin-top: 30px;
  margin-bottom: 15px;
}
.modButt {
  margin-top: 10px;
}
.eachJob {
  display: table-cell;
  vertical-align: middle;
  min-width: 15em;
}
.jobDiv {
  margin-bottom: 15px;
}
