
body {
  background-image: linear-gradient(45deg, transparent 20%, #04031c 25%, transparent 25%), 
                    linear-gradient(-45deg, transparent 20%, #04031c 25%, transparent 25%), 
                    linear-gradient(-45deg, transparent 75%, #04031c 80%, transparent 0);
  background-size: 30px 30px, 30px 30px;
}
p{
  text-decoration: none;
}
h2{
  text-decoration: underline;
}
#introText{
  text-align: center;
  text-decoration: underline;
  font-family: "Times New Roman", Times, serif;
  text-shadow: 2px 2px 8px #ebebe0;
  font-size: 120px;
  padding-top: 15%;
}
.sectionHead{
  text-decoration: underline;
  text-align: center;
  font-size: 40px;
  font-family: Verdana, sans-serif;
  margin-top: 55px;
  text-shadow: 2px 3px #9d9da8;
}

.sectionSkill{
  text-decoration: underline;
   font-family: Verdana, sans-serif;
  text-shadow: 2px 2px 2px #8a8a5c;
}
.sectionAbout{
  text-decoration: underline;
  font-family: Verdana, sans-serif;;
}
.sectionPort{
  text-decoration: underline;
  font-family: Verdana, sans-serif;
  text-shadow: 2px 2px 2px #8a8a5c;
}
.sectionContact{
  text-decoration: underline;
  font-family: Verdana, sans-serif;
  font-size: 50px;
  text-shadow: 2px 2px 2px #8a8a5c;
}
#mySidebar{
  height: 100%;
  width: 0;
  position: absolute; 
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #08050a;
  overflow-x: visible;
  transition: 0.5s;
  padding-top: 60px;
}
.sideBar a:hover {
  color: #f1f1f1;
}
.sideBar, .closeNav {
  top: 0;
  right: 25px;
  font-size: 36px;
  color: #ddcae8;
}
.openNav {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
  width: 100px;
}
#mainNav {
  transition: margin-left .5s;
  padding: 16px 16px 16px 0;
  text-align: left;
}
.openNav:hover {
  background-color: #444;
}

.sideBar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

#mySide{
  background: linear-gradient(#ebebe0, #b8b894, #2e2e1f,#0f0f0a 20%);
  margin: 0;
  width: 100%;
  border-radius: 15px;
  text-align: center;
  float: center;
}
.listStyle{
  list-style: none;
 
}

.naviList{
  padding: 30px;
  font-size: 30px;
  text-align: center;
  color: #ded8e3;
  display:inline-flex;

}
#listPort{
  list-style: none;
  margin-left: 35px;
}
#about{
  background-color: #f5f5ef;
  margin: 10px;
  border: solid 2px #ebebe0;
  border-radius: 12px;
  padding: 5px 5px;
  text-align: center;
  box-shadow: 2px 2px 3px 3px #2e2e1f;
  opacity: 0.9;

}
.portItems{
  background-color: #f5f5ef;
  display: inline-flex;
  text-align: center;
  margin-right: 10%;
  width: auto;
  height: auto;
  margin: 10px;
  border: solid 2px #ebebe0;
  border-radius: 12px;
  padding: 5px 5px;
  box-shadow: 3px 3px 5px 6px #2e2e1f;
  opacity: 0.97;
}
.portImg{
  width: 250px;
  height: 200px;
  border-radius: 12px;
  float: auto;
}
/*
.skillsDiv{
  float: center;
  border: 2px dotted black;
}*/
.proSkills{
  background-color: #ffffff;
  display: inline-flex;
  flex: wrap;
  float:  center;
  width: 150px;
  height: 150px;
  margin-left:  70px;
  box-shadow: 3px 3px 5px 6px #2e2e1f;
  opacity: 0.98;
  margin-top: 25px;
}

.imgSkills{
  width: 150px;
  height: 150px;
  border-radius: 15px;
  position: absolute;
}
.skillHead{
 
  background-color: #2e2e1f;
  height:auto;
  color: #fff;
  opacity: 0;
  transition: all .2s;
  width: 100%;
  height: 25px;
  text-align: center;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  margin: 0;
}

.proSkills:hover .skillHead{
  opacity: 1;
  transform: translateY(-30px);
}

.projectDes{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 4px 4px 8px  #4d4d33;

}
#footer{
  
  height: 250px;
  width: 600px;
}

#footerStyle{
  background-color: #f5f5ef;
  margin: 35px;
  border: solid 2px #ebebe0;
  border-radius: 12px;
  padding: 5px 5px;
  width: auto;
  box-shadow: 3px 3px 5px 6px #2e2e1f;
  opacity: 0.98;
}
#footerList {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#footerList .links{
  display: flex;
  flex: wrap;
  list-style: none;
}
#contactHead{
  float: center;
  text-align: center;
}

.contactLinks{
  padding: 0px 40px;
  color: #01000f;
  display: inline-flex;
  flex: wrap;
  font-size: 20px;
  text-align: center;

}
.contactImage{
  height: 25px;
  width: 25px;
  border-radius: 50%;
}
.contactIcon{
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.projectHead{
  text-decoration: underline;
  text-align: center;
  font-family: Lucida Console sans-serif;
}
/*Styles my image*/
#me{
  width: 320px;
  height: 270px;
  border-radius: 47%;
}
#navPic{
  float: center;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-left: 40%;
}
/*Styles the infomation sheet that gets rendered*/
#con{
  float: right;
  border: 3px solid #d6c3db;
  box-shadow: 2px 2px 3px #d6c3db;
  border-radius: 12px;
  text-align: center;
}
.parent {
  display: flex;
}
.theSkills{
  color: black;
  text-decoration-color: white;
  font-family: "Arial Black", Gadget, sans-serif;
}

/*Sizes the div for my personal infomation*/
#info{
  width: 1200px;
  height: 100%;
  background-color: #f5f5ef;
  border: solid 2px #ebebe0;
  border-radius: 12px;
  padding: 5px 5px;
  margin-right: 10px;
  margin-left: 2px;
  box-shadow: 2px 2px 3px 3px #2e2e1f;
  opacity: 0.98;
}
/*Styles my name in the personal infomation div*/
#myName{
  text-align: center;
  size: 80px;
  font-family: New Century Schoolbook, TeX Gyre Schola, serif; 
  font-weight: 900;
  font-size: 47px
}
/*Styles my occupation in the personal infomation div*/
#myOcu{
  font-size: 32px;
  text-align: center;
  color: #434052;

}
/*Changes sub-heading font in my peronal infomation div*/
.refText{
  font-family: impact;
}
/*Changes content font in my peronal infomation div*/
.myInfo {
  margin :0;
  font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
}
/*Changes the heading style for my Summary/Intro*/
#aboutMe{
  text-align: center;
  text-decoration: underline;
}
/*Controls layout for my Summary/Intro*/
#sum{
 display: flex;
 flex-direction: column;
 flex-wrap: wrap;
 height: auto;
 margin-right: 80px;
  background-color: #f5f5ef;
  border: solid 2px #ebebe0;
  border-radius: 12px;
  padding: 5px 5px;
  box-shadow: 3px 3px 5px 6px #2e2e1f;
  opacity: 0.97;
}
/*Adds padding around my work reference content*/
#workRef2{
  padding-left: 20px;
}
/*Adds padding around my work reference content*/
#workRef2{
  padding-left: 20px;
}
/*Styles layout for my interests*/
#theInts{
  flex-direction: column;
  display: flex;
}
#theInts > * {
  flex: 1;
}
/*Styles layout for my work experience & references*/
#myWork{
  display: flex;
}
#theInts > *{
  flex: 1;
}
img{
  width: 90% ;
  height:250px ;
  border-radius: 45%;
  text-align: center;
  opacity: 1;
}
#hobbList{
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-direction: column;

}
.eachHobb{

  margin-bottom: 20px;
}